.bg-black{
    background-color: black;
    
}
.carousel-caption{
    top:350px;
}
.card-img{
    height: 250px;
    width: auto;
}

img{
    max-width: 100%;
    max-height: 100%;
}


footer{
    margin: -18px;
}
.bg-success{
    color:white ;
    font-weight: 600;
    text-align: center;
    margin-top: -15px !important;
}

.m-right{
    
    border-right: 2px solid #fff;
}
.underline{
    width:100px;
    height: 2px;
    background-color: #28A745;
}

.bg-light-gray{
    background-color: #EAF0FF;
}

.media img{
    max-width: 120px;
    height: auto;
}
.underline-green{
    width: 70px; height: 2px; background-color: green;
}
.images{background-size: cover;}
.big-banner{
    background-image: url(../img/pexels-jopwell-2422290.jpg);
    background-size: cover;
}

.contact-banner{
    background-image: url(../img/pexels-fernando-arcos-190819\ \(1\).jpg);
    background-size: cover;

}