body{
    margin: 0px;
    padding: 0px;

}
header{
    background-color: white;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow:0px 8px 6px -6px black;
    box-sizing: 0px 8px 6px -6px black;
    position: fixed;
    width: 100%;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    margin-top: 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    transition: 1s all;
    margin-right: 25px;
}
nav ul li a.active{
    color: dodgerblue;
}
nav ul li a:hover{
    color: dodgerblue;
    transition: 1s all;
}
nav ul li a i{
    margin-right: 5px;
}
div.brand{
    padding: 20px;
}
div.brand a{
    color:dodgerblue;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
#landing{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/femcode.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    padding-top: 30vh;
    color: white;
    padding-bottom: 20vh;
    padding-left: 20px;
}
#brief{
    text-align: center;
    margin: 70px 50px;
    line-height: 20px;
    font-weight: 600;
}
.justify-around{
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
#services{
    padding: 50px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    text-align: center;
    color: white;
}
#services h1{
    font-weight: 900;
    font-size: 40px;
}
#services p{
    margin-bottom: 50px;
}
#services .d-flex div{
    padding: 20px;
    margin: 5px;
}
#services .d-flex div:first-child{
    background-color: dodgerblue;
    -webkit-box-shadow: 0px 8px 6px -6px dodgerblue;
    -moz-box-shadow: 0px 8px 6px -6px dodgerblue;
    box-shadow: 0px 8px 6px -6px dodgerblue;
}
#services .d-flex div:nth-child(2){
    background-color: white;
    color: #000;
    -webkit-box-shadow: 0px 8px 6px -6px white;
    -moz-box-shadow: 0px 8px 6px -6px white;
    box-shadow: 0px 8px 6px -6px white;
}
#services .d-flex div:last-child{
    background-color: black;
    color: white;
    -webkit-box-animation: 0px 8px 6px -6px black;
    -moz-box-shadow: 0px 8px 6px -6px black;
    box-shadow: 0px 8px 6px -6px black;
}
#newsletter{
    padding: 50px;
    background-color: white;
}
#newsletter h1{
    font-weight: 900;
    font-size: 400;
    text-align: center;
}
#newsletter p{
    text-align: center;
}
#newsletter form{
    text-align: center;
    -webkit-box-shadow:0 8px 6px 6px #ccc;
    -moz-box-shadow:0 8px 6px 6px #ccc;
    padding: 30px;
}
#newsletter form label{
    font-weight:900;
}
#newsletter form input{
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}
#newsletter button{
    padding: 10px;
    background-color: dodgerblue;
    border:0px;
    border-radius:0px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    transition: 1s all;
}
